<h2>Edit info for @Model.GetDescription()</h2>
<form action="/editStylist/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="stylist-id" type="hidden" value="@Model.GetId()">
  <label for="stylist-name">Stylist name</label>
  <input id="stylist-name" name="stylist-name" type="text">
  <button type="submit">Submit</button>
</form>
